{% extends "app/base.html" %}

{% load crispy_forms_tags %}

{% block head %}

<title>Change Password</title>

<style type="text/css">
.asteriskField {
  display: none;
}

#hint_id_new_password1{
  display: none;
}
</style>

{% endblock %}

{% block body %}

<main>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><strong>Change Password</strong></div>
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form_group row mt-4">
                <div class="col-md-8">
                  <input type="submit" class="btn btn-info" value="Submit">
                  <a class="btn btn-warning" href="{% url 'app:home'%}">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
