{% extends "app/base.html" %}

{% block head %}
<title>Password Change Successful</title>
{% endblock %}

{% block body %}
<main>
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><strong>Password Change Successful</strong></div>
          <div class="card-body">
            <p>Your password has been changed sucessfully!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
