{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block head %}
<title>Add Phishing Page</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 style="display:inline-block"><strong>Add Phishing Page</strong></h5>
      <a class="btn btn-danger float-right" href="{% url 'app:phishing_pages' %}">X</a>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info" type="submit" name="button">Save</button>
        <a class="btn btn-danger" href="{% url 'app:phishing_pages' %}">Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
