{% extends "app/base.html" %}

{% block head %}
<title>{{ target.target.first_name }} {{ target.target.last_name }}</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 style="display:inline-block"><strong>{{ target.target.first_name }} {{ target.target.last_name }}</strong></h5>
      <a class="btn btn-danger float-right" href="{% url 'app:filter' pk=target.campaign.id %}">X</a>
      {% if target.reported == False or target.reported == None %}
      <a class="btn btn-info float-right mr-4"
        href="{% url 'app:target_reported_from_filter' campaign_id=target.campaign.id target_id=target.target.id %}">
        Mark As Reported
      </a>
      {% else %}
      <a class="btn btn-danger float-right mr-4"
        href="{% url 'app:target_reported_from_filter' campaign_id=target.campaign.id target_id=target.target.id %}">
        Mark As Not Reported
      </a>
      {% endif %}
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{ target.target.first_name }} {{ target.target.last_name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ target.target.email }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              {% if target.email_sent_status == True %}
              <i class="fas fa-check mr-2 text-success"></i>Sent
              <br>
              {% elif target.email_sent_status == False or target.email_sent_status == None %}
              <i class="fas fa-times mr-2 text-danger"></i>Not Sent
              <br>
              {% endif %}
              {% if target.email_open_status == True %}
              <i class="fas fa-check mr-2 text-success"></i>Opened
              <br>
              {% elif target.email_open_status == False or target.email_open_status == None %}
              <i class="fas fa-times mr-2 text-danger"></i>Not Opened
              <br>
              {% endif %}
              {% if target.link_clicked_status == True %}
              <i class="fas fa-check mr-2 text-success"></i>Clicked
              <br>
              {% elif target.link_clicked_status == False or target.link_clicked_status == None %}
              <i class="fas fa-times mr-2 text-danger"></i>Not Clicked
              <br>
              {% endif %}
              {% if target.data_submitted_status == True %}
              <i class="fas fa-check mr-2 text-success"></i>Submitted Data
              <br>
              {% elif target.data_submitted_status == False or target.data_submitted_status == None %}
              <i class="fas fa-times mr-2 text-danger"></i>Not Submitted Data
              <br>
              {% endif %}
              {% if target.reported == True %}
              <i class="fas fa-check mr-2 text-success"></i>Reported
              <br>
              {% elif target.reported == False or target.reported == None %}
              <i class="fas fa-times mr-2 text-danger"></i>Not Reported
              <br>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Submitted Data</td>
            <td>
              {% for data in data_submitted %}
                {{ data.data_submitted }}
                <br>
                <br>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      <h5>Time Logs</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Sent</td>
            <td>{{ target.email_sent_time }}</td>
          </tr>
          <tr>
            <td>Opened</td>
            <td>
              {% for email_open_time in email_open_times %}
                {{ email_open_time.email_open_time }}
                <br>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td>Clicked</td>
            <td>
              {% for link_click_time in link_click_times %}
                {{ link_click_time.link_click_time }}
                <br>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td>Data Submitted</td>
            <td>
              {% for data in data_submitted %}
                {{ data.data_submit_time }}
                <br>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td>Reported</td>
            <td>
              {% for report_time in report_times %}
                {{ report_time.report_time }}
                <br>
              {% endfor %}
            </td>
          </tr>
        </tbody>
    </div>
  </div>
</div>

{% endblock %}
